<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>面向对象编程的编辑input更换内容</title>
    <style type="text/css">
        body
        {
            font-size: 12px;
            color: #333;;
        }

        ul li
        {
            line-height: 30px;
        }

    </style>
</head>
<body>
<script type="text/javascript" src="../js/libs/jquery-3.2.0.min.js"></script>
<script type="text/javascript" src="../js/controller/PlaceFieldEditor.js"></script>
<ul>
    <li id="1">张三：</li>
    <li id="2">李四：</li>
    <li id="3">王二：</li>
</ul>


<script type="text/javascript">
  $(function ()
  {

    $("ul li").each(function ()
    {
      new PlaceFieldEditor($(this).attr("id"), "请输出成绩...", $(this));
      //console.log($(this));
    });


  });

</script>
</body>
</html>