<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,target-densitydpi=device-dpi,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name=”format-detection” content=”telephone=no” />
    <title>less的用法</title>
    <link rel="stylesheet" type="text/css" href="../styles/css/style.css">
    <link rel="stylesheet/less" type="text/css" href="../styles/css/styles.less">
</head>
<body>
<script src="../js/libs/less-1.7.0.js" type="text/javascript"></script>
<div class="aa">你好</div>
<div class="bb">
    <h1>我是标题</h1>
    <p>
        文章部分
        <a href="javascript:;">我是a标签</a>
    </p>
</div>
<div class="cc">大家好aaaa</div>

<div class="dd">
    <div class="ee">左</div>
    <div class="ff">右</div>
</div>
</body>
</html>