<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form>
        Name: <input type="text" name="name" id="Name">  <br>

        Password: <input type="text" name="password" id="passWord">
        <input type="button" value="提交" id="btn">
    </form>
    <script type="text/javascript" src="../js/libs/jquery-3.2.0.min.js"></script>
    <script type="text/javascript">
        $("#btn").click(function(){
            var name = $("#Name").val(),
                password = $("#passWord").val();
//            console.log(first_name);
            $.ajax({
              url:"login",
              type:"POST",
              data:{
                name:name,
                password:password
              },
              success:function(res){
                if(res.success === 1){
//                  console.log(res.data);
                  window.location.href="http://127.0.0.1:8082/index.html";
                }else{
                  alert(res.data);
                }
              },
              error:function(e){
                console.log(e);
              }
            })
        })
    </script>
</body>
</html>